<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta httpEquiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This is a simple to do app" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
    />
    <title>My Lil To Do App in Rust</title>
  </head>
  <style>
    {{BASE_CSS}}
    {{CSS}}
    HEADER_CSS
  </style>
  <body>
    <div class="mainContainer">
      HEADER_HTML
      <h1>My Done Items</h1>
      <div id="doneItems"></div>
      <h1>To Do Items</h1>
      <div id="pendingItems"></div>
      <input type="text" id="name" placeholder="create to do item" />
      <button id="create-button" value="Send">Create</button>
    </div>
  </body>
  <script>{{JAVASCRIPT}}
  </script>
</html>
